<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.open_open.mylibrary">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application>
        <activity android:name=".activity.CaptureActivity"></activity>
    </application>

</manifest>